@model Pagination<Product>

@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                IsDeleted
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Datas)
        {
            if(!item.IsDeleted)
            {
                <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-light" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
            }
        }
    </tbody>
</table>
<div class="paginatoin-area text-center mt-45">
    <ul class="pagination justify-content-center" style="display: flex;">
        <li class="page-item">
            <a class="page-link @(Model.HasPrevious ? "": "disabled")" asp-action="Index" asp-route-take="@ViewBag.Take" asp-route-page="@(Model.CurrentPage-1)">Previous</a>
        </li>
        @for (int i = 1; i <= Model.TotalPage; i++)
        {
            <li class="page-item">
                <a class="page-link @(i == Model.CurrentPage ? "disabled" : "")" asp-action="Index" asp-route-take="@ViewBag.Take" asp-route-page="@i">@i</a>
            </li>
}
        <li class="page-item">
            <a class="page-link @(Model.HasNext ? "": "disabled")" asp-action="Index" asp-route-take="@ViewBag.Take" asp-route-page="@(Model.CurrentPage+1)">Next</a>
        </li>
    </ul>
</div>

